---
import { cvData } from '@/data/cv.ts';
const { interests } = cvData;
---
<section class="resume-section" id="interests" data-aos="fade-up" data-aos-delay="100">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>{interests.p1}</p>
        <p class="mb-0">{interests.p2}</p>
    </div>
</section>